* {
  margin: 0;
  padding: 0;
}
header {
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.title {
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgb(20, 220, 220),
    #00c3ff,
    #41aaff,
    #09eeb5
  );
  background-size: 400% 400%;
  animation: rainbow 5s ease-in-out infinite;
  background-clip: text;
  letter-spacing: 1px;
  -webkit-background-clip: text;
  transition: color 0.3s ease-in-out;
}
.title:hover {
  color: rgba(0, 0, 0, 0);
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.hero {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
h1 {
  font-family: moon;
  font-size: 80px;
  letter-spacing: 5px;
}
p {
  font-size: 25px;
  margin-bottom: 30px;
  font-family: futura;
}
.home-logo {
  z-index: 502;
  display: block;
  margin: 0;
  padding: 10px;
  position: absolute;
  left: 5%;
  top: 28%;
}

.home-logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-logo img {
  width: 200px;
  height: 200px;
}

/* Countdown */
li {
  font-family: moon;
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.125rem;
    padding: 0.75rem;
  }

  li span {
    font-size: 3.375rem;
  }
}
/* Countdown */

/* Particles */
#particles-js {
  background-image: linear-gradient(
      rgba(46, 46, 46, 0.5),
      rgba(65, 65, 65, 0.5)
    ),
    url(images/index4.png);
  background-size: cover;
}
/* Particles */
